body{
	/*opacity:0.05;
	filter:"alpha(opacity=5)";
	-ms-filter:"alpha(opacity=5)";  �ɰ�IE */	
}
.image_logo{
	width:60px;
	height:auto;
	float:left;
	margin-left:30px;
	margin-right:0px;
	margin-top:-10px;
}
#container{
	margin:0 auto;
	/*border:1px solid;*/
	width:90%;
	height:80%;
	text-align:center;
	padding:10px;
}
ul{
	width:auto;
	padding:0px;
	float:right;
	margin-left:0px;
	margin-right:80px;
	margin-top:10px;
	list-style:none;
}
li{
	width:auto;
	float:left;
}
.name{
	font-size:35px;
	font-weight:700;
	font-family:Microsoft YaHei;
}
.english{
	margin-left:10px;
	margin-right:0px;
	text-decoration:underline;
	font-size:20px;
	font-weight: 400;
}
.top{
	margin:0 auto;
	margin-top:30px;
	/*border:1px solid;*/
	height:100px;
	width:atuo;
	text-align:center;
}
.kouhao{
	float:left;
	margin-left:4%;
	/*border:1px solid;*/
	height:auto;
	width:20%;
}
.kouhao_big{
	font:25px;
	font-weight:600;
}
.kouhao_small{
	font-size:14px;
	color:gray;
}
.content{
	margin-top:30px;
	/*border:1px solid;*/
	height:auto;
	width:atuo;
	text-align:left;
}
.content p{
	font-size:20px;
	font-weight:600;
}