<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tendy.dao.mapper.BaseCityMapper" >
  <resultMap id="BaseResultMap" type="com.tendy.dao.bean.BaseCity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="city_ename" property="cityEname" jdbcType="VARCHAR" />
    <result column="city_character" property="cityCharacter" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="province_ename" property="provinceEname" jdbcType="VARCHAR" />
    <result column="province_id" property="provinceId" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, city_name, city_ename, city_character, province, province_ename, province_id, 
    remark, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from base_city
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from base_city
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tendy.dao.bean.BaseCity" >
    insert into base_city (id, city_name, city_ename, 
      city_character, province, province_ename, 
      province_id, remark, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{cityName,jdbcType=VARCHAR}, #{cityEname,jdbcType=VARCHAR}, 
      #{cityCharacter,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{provinceEname,jdbcType=VARCHAR}, 
      #{provinceId,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tendy.dao.bean.BaseCity" >
    insert into base_city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="cityEname != null" >
        city_ename,
      </if>
      <if test="cityCharacter != null" >
        city_character,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="provinceEname != null" >
        province_ename,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityEname != null" >
        #{cityEname,jdbcType=VARCHAR},
      </if>
      <if test="cityCharacter != null" >
        #{cityCharacter,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="provinceEname != null" >
        #{provinceEname,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tendy.dao.bean.BaseCity" >
    update base_city
    <set >
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="cityEname != null" >
        city_ename = #{cityEname,jdbcType=VARCHAR},
      </if>
      <if test="cityCharacter != null" >
        city_character = #{cityCharacter,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="provinceEname != null" >
        province_ename = #{provinceEname,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tendy.dao.bean.BaseCity" >
    update base_city
    set city_name = #{cityName,jdbcType=VARCHAR},
      city_ename = #{cityEname,jdbcType=VARCHAR},
      city_character = #{cityCharacter,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      province_ename = #{provinceEname,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>