<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tendy.dao.mapper.SysCmsMenuMapper" >
  <resultMap id="BaseResultMap" type="com.tendy.dao.bean.SysCmsMenu" >
    <id column="sys_menu_id" property="sysMenuId" jdbcType="INTEGER" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_pid" property="menuPid" jdbcType="VARCHAR" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="menu_icon_url" property="menuIconUrl" jdbcType="VARCHAR" />
    <result column="isFunction" property="isfunction" jdbcType="TINYINT" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <result column="menu_code" property="menuCode" jdbcType="VARCHAR" />
    <result column="isLeaf" property="isleaf" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    sys_menu_id, menu_name, menu_pid, menu_url, menu_icon_url, isFunction, level, sequence, 
    menu_code, isLeaf
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_cms_menu
    where sys_menu_id = #{sysMenuId,jdbcType=INTEGER}
  </select>
  <!-- manual -->
  <select id="getMenuList" resultMap="BaseResultMap" parameterType="java.util.List">
    select <include refid="Base_Column_List" />
    from sys_cms_menu m
    where sys_menu_id in
    <foreach collection="list" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
    order by sequence desc
  </select>
  <select id="getMenuListBySelective" resultMap="BaseResultMap" parameterType="java.util.Map">
    select <include refid="Base_Column_List" />
    from sys_cms_menu m
    <where>
      <if test="level!=null">
        level = #{level}
      </if>

      <if test="pid!=null">
        and menu_pid = #{pid}
      </if>
    </where>
    order by sequence desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_cms_menu
    where sys_menu_id = #{sysMenuId,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.tendy.dao.bean.SysCmsMenu" >
    insert into sys_cms_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysMenuId != null" >
        sys_menu_id,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="menuPid != null" >
        menu_pid,
      </if>
      <if test="menuUrl != null" >
        menu_url,
      </if>
      <if test="menuIconUrl != null" >
        menu_icon_url,
      </if>
      <if test="isfunction != null" >
        isFunction,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="sequence != null" >
        sequence,
      </if>
      <if test="menuCode != null" >
        menu_code,
      </if>
      <if test="isleaf != null" >
        isLeaf,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysMenuId != null" >
        #{sysMenuId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuPid != null" >
        #{menuPid,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuIconUrl != null" >
        #{menuIconUrl,jdbcType=VARCHAR},
      </if>
      <if test="isfunction != null" >
        #{isfunction,jdbcType=TINYINT},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="menuCode != null" >
        #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="isleaf != null" >
        #{isleaf,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tendy.dao.bean.SysCmsMenu" >
    update sys_cms_menu
    <set >
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuPid != null" >
        menu_pid = #{menuPid,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuIconUrl != null" >
        menu_icon_url = #{menuIconUrl,jdbcType=VARCHAR},
      </if>
      <if test="isfunction != null" >
        isFunction = #{isfunction,jdbcType=TINYINT},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="sequence != null" >
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="menuCode != null" >
        menu_code = #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="isleaf != null" >
        isLeaf = #{isleaf,jdbcType=TINYINT},
      </if>
    </set>
    where sys_menu_id = #{sysMenuId,jdbcType=INTEGER}
  </update>
</mapper>